


.orange {
	color:orange;
}

.warning-bloc {
	display: block;
	background-color: #faf8f0;
	margin: 5px 0;
	padding: 5px;
	border-left: 3px solid;
	border-color: #faebcc;
}


.blue {
	color:blue;
}

.info-bloc {
	display: block;
    background-color: #f4f8fa;
	margin: 5px 0;
	padding: 5px;
	border-left: 3px solid;
    border-color: #bce8f1;
}