body 
{ 
  color: black; 
  background-color: white; 
  font-family: Verdana, Arial, Helvetica; 
  font-size: 1em 
}

.right
{
   text-align:right;
} 

TH { font-size: 100% }
TD { font-size: 100% }
H1 { text-align: center; font-size: 140% ; font-family: Verdana, Arial, Helvetica;}
H2 { text-align: center; font-size: 120% ; font-family: Verdana, Arial, Helvetica;}
H4 { font-size: 100% ; font-family: Verdana, Arial, Helvetica;}

a.SubMenu1 
{ 
  background: inherit;
  font-family: inherit;
  text-align: left; 
  font-weight: bold; 
  color: green; 
  font-size: 80%;
  text-decoration: none 
}

a.MenuLink 
{ 
  background: inherit;
  font-family: inherit;
  text-align: left; 
  font-weight: bold; 
  color: blue; 
  text-decoration: none 
}

a:hover {
  background: #ccc;
  font-family: inherit;
  color: red;
}

.MenuCurrent { text-align: left; font-weight: bold }

.SubMenu1Current 
{ 
  text-align: left; 
  font-weight: bold;
  font-size: 80%;
}

TD.MenuColumn { background-color: #E0E0E0; width: 120px ; font-size: 100%}

TD.Layout { background-color: white ; font-size: 100%}
TH.Title { background-color: #B6C8F6 ; font-size: 100%}
TD.Item { background-color: #E8E8E8 ; font-size: 100%}
TD.SubItem { background-color: #FFFFFF ; font-size: 100%}

span.date
{
display: none;
}

span.summary
{
display: none;
}



